@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400|Playfair+Display:400');

body {
	color: #FFDBAA;
	background-color: #000F10;
	font-family: "Libre Baskerville", serif;
	display: flex;
}
.container {
	background-color: #380100;
	width: 300px;
	margin: 0 auto;
	padding: 50px 80px;
}
h1, h3 {
	font-family: "Playfair Display", serif;
}
h1 {
	margin-bottom: 40px;
}